{% extends "base.html" %}
{% load app_filters %}
{% load app_tags %}


{% block title %}{{language_name}}|Dialects{% endblock %}

{% block content %}

<div class="page-header">
    <h1>{{ language_name }} dialects</h1>
</div>

<!-- ORIGINAL DIALECT -->
<div class="showback">
    <h4><i class="fa fa-angle-right"></i> Main dialect</h4>
    {% get_original_dialect dialects language as orig %}
    {% if orig %}
        <table class="table table-striped table-hover table-responsive table-condensed">
            <tr>
                <td class="col-lg-1">
                    <a href="{% url 'polls:language_resources' language_name orig.name %}"><span style="font-size: 17px;">{{ orig.name }}</span></a>
                </td>
                <td class="col-lg-2">
                    <a href="{% url 'polls:dialect_update' language_name orig.id %}"><button type="button" class="btn btn-primary"><i class="fa fa-pencil"></i></button></a>
                </td>
            </tr>
        </table>
    {% else %}
        <div class="alert alert-warning">There are no dialects at the moment.</div>
    {% endif %}
</div>

<!-- LIST OF DIALECTS -->
<div class="showback">
    <h4><i class="fa fa-angle-right"></i> Other dialects</h4>
    {% if dialects|filter_original_dialect:language %}
        <table class="table table-striped table-hover table-responsive table-condensed">
            {% for dialect in dialects|filter_original_dialect:language %}
                <tr>
                    <td class="col-lg-1">
                        <a href="{% url 'polls:language_resources' language_name dialect.name %}"><span style="font-size: 17px;">{{ dialect.name }}</span></a>
                    </td>
                    <td class="col-lg-2">
                        <a href="{% url 'polls:dialect_update' language_name dialect.id %}"><button type="button" class="btn btn-primary"><i class="fa fa-pencil"></i></button></a>
                        <a href="{% url 'polls:dialect_delete' language_name dialect.id %}"><button type="button" class="btn btn-danger"><i class="fa fa-trash-o "></i></button></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-warning">There are no other dialects at the moment.</div>
    {% endif %}

    <a href="{% url 'polls:dialect_create' language_name %}"><button class="btn btn-primary">Add dialect</button></a>
</div>

{% endblock content %}