{% extends "base.html" %}

{% block title %}{{language_name}}|{{topic_name}}{% endblock %}

{% block content %}

<!-- JUMBOTRON -->
<div class="jumbotron">
  <h1>MLC Grammar App!</h1>
  <p>Please choose a language.</p>
</div>

<div class="page-header">
  <h1>Dashboard</h1>
</div>

<!-- LANGUAGES -->
<div class="showback">
    <h4><i class="fa fa-angle-right"></i> Languages</h4>
    <a href="{% url 'polls:language_create' %}"><button type="button" class="btn btn-primary btn-xs">Add language</button></a>

    {% if language_list %}
        <ul class="list-group">
        {% for language in language_list %}
            <a class="list-group-item" href="{% url 'polls:language_detail' language.name %}">{{ language.name }}</a>
        {% endfor %}
        </ul>
    {% else %}
        <p>No languages are available.</p>
    {% endif %}
</div>

<!-- LEVELS -->
<div class="showback">
    <h4><i class="fa fa-angle-right"></i> Levels</h4>
    <a href="{% url 'polls:level_create' %}"><button type="button" class="btn btn-primary btn-xs">Add level</button></a>

    <ul class="list-group">
    {% for level in levels %}
        <a class="list-group-item" href="{% url 'polls:level_detail' level.level %}">{{ level.level }}</a>
    {% endfor %}
    </ul>
</div>
{% endblock content %}