{% extends "base.html" %}
{% load app_filters %}


{% block title %}{{language_name}}|{{topic_name}}{% endblock %}

{% block content %}

<div class="page-header">
    <h1>{{ language.name }} - {{ topic.level }} - {{ topic.topic_name }} - {{ language_subtopic.subtopic_name }} - {{ exercise.exercise_name }}</h1>
</div>


<!-- EXERCISE NAME -->
<div class="showback">
    <form class="form-horizontal style-form">
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Instructions</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ exercise.instructions }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Instructions in {{ language.name }}</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ exercise.instructions }}">
            </div>
        </div>
    </form>
    <a href="{% url 'polls:exercise_update' language.name topic.level.level topic.topic_name language_subtopic.subtopic_name exercise.id %}"><button type="button" class="btn btn-primary">Edit</button></a>
</div>

<!-- EXERCISE QUESTIONS -->
<div class="showback">
    <h2 class="mb"><i class="fa fa-angle-right"></i>Exercise</h2>

    {% if questions %}
        <table class="table table-striped table-hover table-responsive table-condensed">
            {% for question in questions %}
                <tr>
                    <td class="col-lg-1">
                        <a href="{% url 'polls:exercise_question_update' language.name topic.level topic.topic_name language_subtopic.subtopic_name exercise.id question.id %}"><span style="font-size: 17px;">{{ question.question_text }}</span></a>
                    </td>
                    <td class="col-lg-2">
                        <a href="{% url 'polls:exercise_question_update' language.name topic.level topic.topic_name language_subtopic.subtopic_name exercise.id question.id %}"><button type="button" class="btn btn-primary"><i class="fa fa-pencil"></i></button></a>
                        <button type="button" class="btn btn-danger"><i class="fa fa-trash-o "></i></button>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <div class="alert alert-warning">There are no questions at the moment.</div>
    {% endif %}
    <a href="{% url 'polls:exercise_question_create' language.name topic.level topic.topic_name language_subtopic.subtopic_name exercise.id %}"><button class="btn btn-primary">Add question</button></a>

</div>

{% endblock content %}