{% extends "base.html" %}
{% load app_tags %}
{% load app_filters %}

{% block title %}{{ language.name }}|{{ topic.level}}|{{ topic.topic_name }}{% endblock %}

{% block content %}

    <div class="page-header">
        <h1><a href="{% url 'polls:language_detail' language.name %}">{{ language.name }}</a>
            - <a href="{% url 'polls:topic_list' language.name topic.level.level %}">{{ topic.level }}</a>
            - {{ topic.topic_name }}
        </h1>
    </div>

    <!-- TOPIC NAME -->
    <div class="showback">
        <h4><i class="fa fa-angle-right"></i> {{topic.topic_name}}</h4>
        <form class="form-horizontal style-form">
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Topic name in {{ language.name }}</label>
                <div class="col-sm-5">
                    <p class="form-control-static"> {{ languagetopic }}</p>
                </div>
            </div>
        </form>
        <a href="{% url 'polls:topic_update' language.name topic.level.level topic.topic_name %}"><button type="button" class="btn btn-primary">Edit</button></a>
    </div>
<br>

    <!-- SITUATIONAL VIDEO -->
    <div class="showback">
        <h4><i class="fa fa-angle-right"></i> Situational video</h4>

        {% if situational_video %}
            <form class="form-horizontal style-form">
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Description</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">{{situational_video.situation_description}}<p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Descriptions in {{ language.name }}</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">{{situational_video.situation_description_in_language}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Video with transcript</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">{{situational_video.video_with_transcript}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Video without transcript</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">{{situational_video.video_without_transcript}}</p>
                    </div>
                </div>
            </form>

            <a href="{% url 'polls:situational_video_update' language.name topic.level topic.topic_name %}"><button type="button" class="btn btn-primary">Edit</button></a>
    </div>

    <!-- LISTENING COMPREHENSION QUESTION --->
    <div class="showback">
        <h4><i class="fa fa-angle-right"></i> Listening comprehension question</h4>

        <form class="form-horizontal style-form">
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Question</label>
                <div class="col-sm-5">
                    <p class="form-control-static">{{situational_video.question_text}}<p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Choice 1</label>
                <div class="col-sm-5">
                    <p class="form-control-static">{{situational_video.choice_1}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Choice 2</label>
                <div class="col-sm-5">
                    <p class="form-control-static">{{situational_video.choice_2}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Choice 4</label>
                <div class="col-sm-5">
                    <p class="form-control-static">{{situational_video.choice_4}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Choice 3</label>
                <div class="col-sm-5">
                    <p class="form-control-static">{{situational_video.choice_3}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Choice 5</label>
                <div class="col-sm-5">
                    <p class="form-control-static">{{situational_video.choice_5}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Choice 6</label>
                <div class="col-sm-5">
                    <p class="form-control-static">{{situational_video.choice_2}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Correct answers</label>
                <div class="col-sm-5">
                    <p class="form-control-static">{{situational_video.correct_answers}}</p>
                </div>
            </div>
        </form>
        <a href="{% url 'polls:listening_comprehension_update' language.name topic.level.level topic.topic_name situational_video.id %}"><button type="button" class="btn btn-primary">Edit</button></a>
    </div><br>

        {% else %}
    <div class="showback">
        <div class="alert alert-warning">Please upload situational video</div>

        <a href="{% url 'polls:situational_video_create' language.name topic.level topic.topic_name %}"><button type="button" class="btn btn-success">Create situational video</button></a>
        <br><br>
    </div>

        {% endif %}

    <!-- GRAMMAR TOPICS -->
    <div class="showback">
        <h4><i class="fa fa-angle-right"></i> Grammar Topics</h4>

        {% if language_subtopics|filter_vocabulary %}
            <table class="table table-striped table-hover table-responsive table-condensed">
                <thead>
                    <tr>
                        <td>Grammar topic name</td>
                    </tr>
                </thead>
            {% for subtopic in language_subtopics|filter_vocabulary %}
                <tr>
                    <td class="col-lg-2">
                        <span style="font-size: 17px;">{{ subtopic.subtopic_name }}</span>
                    </td>
                    <td class="col-lg-3">
                        <a href="{% url 'polls:subtopic_detail' language.name topic.level topic.topic_name subtopic.subtopic_name%}"><button type="button" class="btn btn-primary">
                            <i class="fa fa-pencil"></i>
                        </button></a>
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <div class="alert alert-warning">Please add subsections</div>
        {% endif %}

        {% if not has_three_subtopics %}
            <a href="{% url 'polls:subtopic_create' language.name topic.level topic.topic_name %}"><button type="button" class="btn btn-success">
                Add grammar topic
            </button></a>
        {% endif %}
    </div>

    <!-- VOCABULARY -->
    <div class="showback">
        <h4><i class="fa fa-angle-right"></i> Vocabulary</h4>

        <!-- TODO check if Vocabulary -->
        {% get_vocabulary language_subtopics as vocabulary %}
        {% if vocabulary %}
            <table class="table table-striped table-hover table-responsive table-condensed">
                <tr>
                    <td class="col-lg-2">
                        <span style="font-size: 17px;">{{ vocabulary.subtopic_name }}</span>
                    </td>
                    <td class="col-lg-3">
                        <a href="{% url 'polls:subtopic_detail' language.name topic.level topic.topic_name vocabulary.subtopic_name%}"><button type="button" class="btn btn-primary">
                            <i class="fa fa-pencil"></i>
                        </button></a>
                    </td>
                </tr>
            </table>
        {% else %}
            <div class="alert alert-warning">Please add subtopic for vocabulary.</div>

            <a href="{% url 'polls:vocabulary_subtopic_create' language.name topic.level topic.topic_name %}"><button type="button" class="btn btn-success">
                Add vocabulary
            </button></a>
        {% endif %}
    </div>

{% endblock content %}