{% extends "base.html" %}
{% load app_filters %}
{% load app_tags %}

{% block title %}{{language_name}}|{{topic_name}}{% endblock %}

{% block content %}

<div class="page-header">
    <h1><a href="{% url 'polls:language_detail' language.name %}">{{ language.name }}</a>
        - <a href="{% url 'polls:topic_list' language.name topic.level.level %}">{{ topic.level }}</a>
        - <a href="{% url 'polls:topic_detail' language.name topic.level.level topic.topic_name %}">{{ topic.topic_name }}</a>
        - {{ language_subtopic.subtopic_name }}
    </h1>
</div>

<!-- SUBTOPIC NAME AND GRAMMAR VIDEO -->
<div class="showback">
    <form class="form-horizontal style-form">
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label"><b>Grammar topic or vocabulary name</b></label>
            <div class="col-sm-5">
                <p class="form-control-static">{{ language_subtopic.subtopic_name }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label"><b>Grammar topic or vocabulary name in {{ language.name }}</b></label>
            <div class="col-sm-5">
                <p class="form-control-static">{{ language_subtopic.subtopic_name_in_language }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Grammar video file</label>
            <div class="col-sm-5">
                <p class="form-control-static">{{language_subtopic.grammar_video_file}}</p>
            </div>
        </div>
    </form>
    {% is_vocabulary language_subtopic as bool_vocab %}
    {% if bool_vocab %}
        <a href="{% url 'polls:subtopic_vocabulary_update' language.name topic.level.level topic.topic_name language_subtopic.subtopic_name %}"><button type="button" class="btn btn-primary">Edit</button></a>
    {% else %}
        <a href="{% url 'polls:subtopic_update' language.name topic.level.level topic.topic_name language_subtopic.subtopic_name %}"><button type="button" class="btn btn-primary">Edit</button></a>
    {% endif %}
</div>

<!-- EXERCISES -->
<div class="showback">
    <h4><i class="fa fa-angle-right"></i> Exercises</h4>

    {% if exercises %}
        <table class="table table-striped table-hover table-responsive table-condensed">
            {% for exercise in exercises %}
                <tr>
                    <td class="col-lg-1">
                        <span style="font-size: 17px;">{{ exercise.exercise_name }}</span>
                    </td>
                    <td class="col-lg-2">
                        <a href="{% url 'polls:exercise_detail' language.name topic.level.level topic.topic_name language_subtopic.subtopic_name exercise.id  %}"><button type="button" class="btn btn-primary"><i class="fa fa-pencil"></i></button></a>
                        <a href="{% url 'polls:exercise_delete' language.name topic.level.level topic.topic_name language_subtopic.subtopic_name exercise.id  %}"><button type="button" class="btn btn-danger"><i class="fa fa-trash-o "></i></button></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-warning">Please enter exercise</div>
    {% endif %}


    <a href="/polls/{{language.name}}/{{topic.level}}/{{topic.topic_name}}/{{language_subtopic.subtopic_name}}/newexercise/$">
        <button type="button" class="btn btn-success">New exercise</button>
    </a>
</div>



<!-- DELETE THIS SUBTOPIC -->
{% if perms.polls.delete_language_subtopic %}
<div class="showback">
    <h4><i class="fa fa-angle-right"></i> Delete this grammar topic or vocabulary</h4>

    <div class="alert alert-danger"><b>Warning!</b> Deleting this grammar topic or vocabulary will delete all the assets in it.</div>

    <a href="{% url 'polls:language_subtopic_delete' language.name topic.level.level topic.topic_name language_subtopic.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
</div>
{% endif %}

{% endblock content %}


