{% extends "base.html" %}

{% block title %}{{ language.name }}|{{ topic.level}}|{{ topic.topic_name }}{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>{{ language.name }} - {{ topic.level }} - {{ topic.topic_name }}</h1>
    </div>

    <!-- TOPIC NAME -->
    <div class="showback">
        <h4><i class="fa fa-angle-right"></i> {{topic.topic_name}}</h4>
        <form class="form-horizontal style-form">
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Topic name in {{ language.name }}</label>
                <div class="col-sm-5">
                    <p class="form-control-static"> {{ languagetopic }}</p>
                </div>
            </div>
        </form>
        <a href="{% url 'polls:topic_update' language.name topic.level.level topic.topic_name %}"><button type="button" class="btn btn-primary">Edit</button></a>
    </div>
<br>

    <!-- SITUATIONAL VIDEO -->
    <div class="showback">
        <h4><i class="fa fa-angle-right"></i> Situational video</h4>

        {% if situational_video %}
            <form class="form-horizontal style-form">
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Description</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">{{situational_video.situation_description}}<p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Descriptions in {{ language.name }}</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">{{situational_video.situation_description_in_language}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Video with transcript</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">{{situational_video.video_with_transcript}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Video without transcript</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">placeholder={{situational_video.video_without_transcript}}</p>
                    </div>
                </div>
            </form>

            <a href="{% url 'polls:situational_video_update' language.name topic.level topic.topic_name %}"><button type="button" class="btn btn-primary">Edit</button></a>

        <!-- LISTENING COMPREHENSION QUESTION --->
    <div class="showback">
        <h4><i class="fa fa-angle-right"></i> Listening comprehension question</h4>
        <div class="form-group">
            <a href="{% url 'polls:listening_comprehension_update' language.name topic.level.level topic.topic_name situational_video.id %}"><button type="button" class="btn btn-warning">Listening Comprehension question</button></a>
        </div>
    </div><br>

        {% else %}
            <div class="alert alert-warning">There is no situational video at the moment.</div>

            <a href="{% url 'polls:situational_video_create' language.name topic.level topic.topic_name %}"><button type="button" class="btn btn-primary">Create situational video</button></a>
            <br><br>
            </div>

        {% endif %}




    <!-- GRAMMAR TOPICS -->
    <div class="showback">
        <h4><i class="fa fa-angle-right"></i> Grammar Topics</h4>

        {% if language_subtopics %}
            <table class="table table-striped table-hover table-responsive table-condensed">
            {% for subtopic in language_subtopics %}
                <tr>
                    <td class="col-lg-2">
                        <span style="font-size: 17px;">{{ subtopic.subtopic_name }}</span>
                    </td>
                    <td class="col-lg-3">
                        <a href="{% url 'polls:subtopic_detail' language.name topic.level topic.topic_name subtopic.subtopic_name%}"><button type="button" class="btn btn-primary">
                            <i class="fa fa-pencil"></i>
                        </button></a>
                        <button type="button" class="btn btn-danger"><i class="fa fa-trash-o "></i></button>
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <div class="alert alert-warning">There are no Grammar Topics at the moment.</div>
        {% endif %}

        <a href="{% url 'polls:subtopic_create' language.name topic.level topic.topic_name %}"><button type="button" class="btn btn-primary">
            Add grammar topic
        </button></a>
    </div>

    <!-- VOCABULARY -->
    <div class="showback">
        <h4><i class="fa fa-angle-right"></i> Vocabulary</h4>

        <!-- TODO check if Vocabulary -->
        {% if language_subtopics %}
            <table class="table table-striped table-hover table-responsive table-condensed">
            {% for subtopic in language_subtopics %}
                <tr>
                    <td class="col-lg-2">
                        <span style="font-size: 17px;">{{ subtopic.subtopic_name }}</span>
                    </td>
                    <td class="col-lg-3">
                        <a href="{% url 'polls:subtopic_detail' language.name topic.level topic.topic_name subtopic.subtopic_name%}"><button type="button" class="btn btn-primary">
                            <i class="fa fa-pencil"></i>
                        </button></a>
                        <button type="button" class="btn btn-danger"><i class="fa fa-trash-o "></i></button>
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <div class="alert alert-warning">There is no Vocabulary at the moment.</div>
        {% endif %}

        <a href="{% url 'polls:subtopic_create' language.name topic.level topic.topic_name %}"><button type="button" class="btn btn-primary">
            Add vocabulary topic
        </button></a>
    </div>

{% endblock content %}