{% extends "base.html" %}

{% block title %}{{language_name}}|{{topic_name}}{% endblock %}

{% block content %}

<div class="row mt">
    <div class="col-lg-8">
        <div class="form-panel">
            <form class="form-horizontal style-form" method="post" action="">
                <h2 class="mb"><i class="fa fa-angle-right"></i>Enter Listening Comprehension questions</h2>
                    {% csrf_token %}
                    {{ form.as_p }}
                <input type="submit" value="Save" />
            </form>
      </div>
    </div>
</div>

{% endblock content %}