{% extends "base.html" %}
{% load app_filters %}
{% load app_tags %}

{% block title %}{{language_name}}|Days of the Week{% endblock %}

{% block content %}

<div class="page-header">
    <h1>{{ language_name }} - {{ dialect }} - Days of the week</h1>
</div>

<!-- DAYS OF THE WEEK -->
<div class="showback">
    <form class="form-horizontal style-form">
        {% for day in days_of_the_week %}
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">{{ day }}</label>
                <div class="col-sm-5">
                    <p class="form-control-static">{{ items|get_word:day }}</p>
                </div>
                {% is_main_dialect language_name dialect as bool_main %}
                {% if bool_main %}
                    <a href="{% url 'polls:days_resource_update' language_name dialect.name day %}"><button type="button" class="btn btn-primary">Edit</button></a>
                {% else %}
                    <a href="{% url 'polls:oth_dia_days_resource_update' language_name dialect.name day %}"><button type="button" class="btn btn-primary">Edit</button></a>
                {% endif %}
            </div>
        {% endfor %}
    </form>
</div>

{% endblock content %}