{% extends "base.html" %}
{% load app_filters %}

{% block title %}{{language_name}}|Numbers{% endblock %}

{% block content %}

<div class="page-header">
    <h1><a href="{% url 'polls:choose_dialect' language_name %}">{{ language_name }}</a>
        <a href="{% url 'polls:language_resources' language_name dialect %}"> - {{ dialect }}</a>
         - Numbers
    </h1>
</div>

<!-- List of numbers 1-31 -->
<div class="showback">
    <h4><i class="fa fa-angle-right"></i> Numbers from 1-31</h4>

    <form class="form-horizontal style-form">
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">1</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'1'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '1' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">2</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'2'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '2' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">3</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'3'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '3' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">4</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'4'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '4' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">5</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'5'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '5' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">6</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'6'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '6' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">7</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'7'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '7' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">8</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'8'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '8' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">9</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'9'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '9' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">10</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'10'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '10' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">11</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'11'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '11' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">12</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'12'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '12' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">13</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'13'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '13' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">14</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'14'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '14' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">15</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'15'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '15' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">16</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'16'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '16' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">17</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'17'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '17' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">18</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'18'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '18' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">19</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'19'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '19' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">20</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'20'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '20' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">21</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'21'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '21' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">22</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'22'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '22' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">23</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'23'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '23' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">24</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'24'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '24' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">25</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'25'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '25' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">26</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'26'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '26' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">27</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'27'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '27' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">28</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'28'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '28' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">29</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'29'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '29' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">30</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'30'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '30' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">31</label>
            <div class="col-sm-5">
                <input type="textlabel" class="form-control" placeholder="{{ items|get_word:'31'}}">
            </div>
            <a href="{% url 'polls:number_resource_update_1_to_31' language_name dialect.name '31' %}"><button type="button" class="btn btn-primary">Edit</button></a>
        </div>
    </form>
</div>

<!-- List of other numbers -->
<div class="showback">
    <h4><i class="fa fa-angle-right"></i> Other numbers</h4>
    {% if items %}
        <table class="table table-striped table-hover table-responsive table-condensed">
            {% for item in items %}
                <tr>
                    <td class="col-lg-1">
                        <a href="{% url 'polls:number_resource_update' language_name dialect item.id %}"><span style="font-size: 17px;">{{ item.word }}</span></a>
                    </td>
                    <td class="col-lg-2">
                        <a href="{% url 'polls:number_resource_update' language_name dialect item.id %}"><button type="button" class="btn btn-primary"><i class="fa fa-pencil"></i></button></a>
                        <a href="{% url 'polls:number_resource_delete' language_name dialect item.id %}"> <button type="button" class="btn btn-danger"><i class="fa fa-trash-o "></i></button></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-warning">There are no letters at the moment.</div>
    {% endif %}
    <a href="{% url 'polls:number_resource_create' language_name dialect %}"><button class="btn btn-primary">Add number</button></a>
</div>

{% endblock content %}