{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="jumbotron">
  <h1>Modern Language Center </h1>
  <p>Welcome to content management system for Grammar App. </p>
</div>
<div class="showback">
  <form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}

    <input class="btn btn-primary" type="submit" value="{% trans 'Log in' %}" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>

<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
{% endblock %}
