{% extends "base.html" %}

{% block title %}{{language_name}}|{{topic_name}}{% endblock %}

{% block content %}

        <div class="btn-group btn-breadcrumb">
            <a href="#" class="btn btn-"><h2>{{ language.name }} </h2></a>
            <a href="#" class="btn btn-"><h2>{{ topic.level }} </h2></a>
            <a href="#" class="btn btn-"><h2>{{ topic.topic_name }}</h2></a>
        </div>




            <h2><i class="fa fa-angle-right"></i>{{topic.topic_name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            </h2>

            <form class="form-horizontal style-form">
                  <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Topic Name in Language</label> <button type="button" class="btn btn-default">
                            <a href="{% url 'polls:situational_video_update' language.name topic.level topic.topic_name %}">Edit</a>
                        </button>
                       <div class="col-sm-5">
                         <input type="textlabel" class="form-control" placeholder="{{subtopic.subtopic_name}}">
                      </div>
                 </div>

            <h2 class="mb"><i class="fa fa-angle-right"></i>Situational Videos</h2>
              <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Situational descriptions</label>
                  <div class="col-sm-5">
                      <p>{{situational_video.situation_description}}</p>
                  </div>
              </div>

                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Situational descriptions in language</label>
                  <div class="col-sm-5">
                      <p>{{situational_video.situation_description_in_language}}</p>
                  </div>
              </div>

                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Video with transcript</label>
                    <div class="col-sm-5">
                        <p> {{situational_video.video_with_transcript}} </p>
                    </div>
               </div>

              <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Video without transcript</label>
                    <div class="col-sm-5">
                         <p>{{situational_video.video_without_transcript}}</p>
                  </div>

              </div>
          </form>

              {% if situational_video %}
              <a href="{% url 'polls:listening_comprehension_update' language.name topic.level topic.topic_name situational_video.id %}">
                  <button type="button" class="btn btn-default">Listening Comprehension question</button>
              </a>

              {% endif %}    <br><br><br>

              <div>
                  <h3>Grammar Topics and Vocabulary
                                      <button type="button" class="btn btn-default">
                                          <a href="{% url 'polls:subtopic_create' language.name topic.level topic.topic_name %}">Add</a>
                                      </button>
                  </h3>
              </div>

    <table class="table table-striped table-hover table-responsive table-condensed">

        {% for subtopic in language_subtopics %}

      <tr>

        <td class="col-lg-2">
            <span style="font-size: 17px;">{{subtopic.subtopic_name}}</span>
        </td>

        <td class="col-lg-2">
            <span style="font-size: 17px;">{{subtopic.id}}</span>
        </td>

        <td class="col-lg-3">
            <button type="button" class="btn btn-default">
                <a href="{% url 'polls:subtopic_detail' language.name topic.level topic.topic_name subtopic.subtopic_name%}">Edit</a>
            </button>
        </td>
        </tr>  {% endfor %}
    </table>
            </form>
        </div>
    </div>
</div>
{% endblock content %}