{% extends "base.html" %}

{% block title %}{{language_name}}|{{topic_name}}{% endblock %}

{% block content %}

<h1>{{language.name}}>{{topic.level}}>{{topic.topic_name}}</h1>
<h3>Topic Name:{{topic.topic_name}}</h3><a href="/polls/{{ language.name }}/{{topic.level}}/{{topic.topic_name}}/edit">Edit</a>
<h3>Topic Name in language: {{languagetopic.topic_name_in_language}}</h3>


<h3>Situational Videos </h3><a href="/polls/{{ language.name }}/{{topic.level}}/{{topic.topic_name}}/situationalvideo/edit">Edit</a>
    <ul>
        <li>description: {{situational_video.situation_description}}</li>
        <li>description in {{language_name}}: {{situational_video.situation_description_in_language}}</li>
        <li>File : filename.mp3</li>
    </ul>

<h3>Subtopics</h3>
<a href="{% url 'polls:subtopic_create' language.name topic.level topic.topic_name %}">New subtopics</a>

    <ul>
        {% for subtopic in language_subtopics %}
            <li><a href="/polls/{{ language.name }}/{{topic.level}}/{{topic.topic_name}}/{{subtopic.subtopic_name}}/">{{subtopic.subtopic_name}}</a></li>
        {% endfor %}
    </ul>
<h3>Vocab Subtopic</h3>
        {% for subtopic in language_subtopics %}
            <li><a href="/polls/{{ language.name }}/{{topic.level}}/{{topic.topic_name}}/{{subtopic.subtopic_name}}/">{{vocab_subtopic.subtopic_name}}</a></li>
        {% endfor %}


{% endblock content %}