{% extends "base.html" %}

{% block title %}{{language_name}}|{{topic_name}}{% endblock %}

{% block content %}

<h1>{{language.name}}>{{topic.level}}>{{topic.topic_name}}</h1>

<h3>Subtopics</h3><a href="/polls/{{language.name}}/{{topic.level}}/{{topic.topic_name}}/{{language_subtopic.subtopic_name}}/edit">Edit</a>

<p>Subtopic name</p>
<p>Subtopic name in language</p>

<h3>Grammar Video</h3><a href="/polls/{{language.name}}/{{topic.level}}/{{topic.topic_name}}/{{language_subtopic.subtopic_name}}/edit">Edit</a>

<p>File</p>

<h3>Exercises</h3>
<a href="/polls/{{language.name}}/{{topic.level}}/{{topic.topic_name}}/{{language_subtopic.subtopic_name}}/newexercise/$">New exercise</a>


{% for exercise in exercises %}
<h4>Exercise {{exercise.id}}</h4>

<a href="/polls/{{language.name}}/{{topic.level}}/{{topic.topic_name}}/{{language_subtopic.subtopic_name}}/{{exercise.id}}/edit">Edit</a>

<p>instructions:  {{ exercise.instructions }}</p>
<p>instructions in language:  {{ exercise.instructions_in_language }}</p>

<p>Questions</p><a>New question</a>
<ol>
    {% for question in questions %}
    <li><a href="/polls/{{language.name}}/{{topic.level}}/{{topic.topic_name}}/{{language_subtopic.subtopic_name}}/{{question.id}}/edit">{{question.question_text}}</a></li>
    {% endfor %}
</ol>
{% endfor %}


{% endblock content %}