{% extends "base.html" %}

{% block title %}{{language_name}}|{{topic_name}}{% endblock %}

{% block content %}

<h1>List of topics for {{ language_name }}>{{ level }}</h1>
<a href="{% url 'polls:topic_create' language_name level %}">Add</a>

{% if topic_list %}
    <ul>
    {% for topic in topic_list %}
        <li><a href="{% url 'polls:topic_detail' language_name level topic.topic_name %}">{{ topic.topic_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No topics are available.</p>
{% endif %}

{% endblock content %}